.footer {
    width: 100%;
    background: linear-gradient(180deg, #2A2A3B 0%, #1E1E2D 100%);
    padding: 60px 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-part-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #515166;
}

.footer-part-one-text,
.f-p-o-search {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-p-o-text-blod {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.search-container {
    border-radius: 12.042px;
    background: #313143;
    padding: 10px;
    display: flex;
}

.search-container input {
    border: none;
    background-color: transparent;
    padding: 8px 15px;
    outline: none;
    color: #fff;
    font-size: 1rem;

}

.search-container button {
    border-radius: 10.035px;
    background: linear-gradient(82deg, #4B74FF 0%, #9281FF 100%);
    padding: 12px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}
.footer-part-two{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.footer-part-two-row-one{
    height: 40px;
    width: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.footer-part-two-row-one img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.copyright{
    width: auto;
    color: rgb(248, 248, 248);
    white-space: nowrap;
    font-size: .9rem;
    margin-top: 5px;
}
.footer-part-two img{
    cursor: pointer;
}